<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./index.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  
  <style>
    #main-header {
      padding: 2rem 2rem;
      background: #ff0055;
      color: white;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
      text-align: center;
    }
    .container {     
      margin-top: 3%;
    }
    .title {
      background-color: #fff;
      color: darkblue;
      color: #dc3545;
      color: #212529;
      text-align: center;
      padding: 8px;
    }
    .article {
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      box-shadow: 0 1px 6px 3px rgb(0 0 0 / 30%);
    }
    .article thead tr {
      background-color: #055160;;
      color: #ffffff;
      text-align: left;
    }
    .article th,
    .article td {
      padding: 12px 15px;
    }
    .article tbody tr {
      border-bottom: 1px solid #dddddd;
    }

    .article tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }
    .article tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
    }
    .article tbody tr.active-row {
      font-weight: bold;
      color: #009879;
    }
    a {
      text-decoration: none;
      font-weight: bold;
    }
    .add-article {
      padding: 10px;
    }
    .add-article a {
      color: #fff;
    }
  </style>
</head>

<body>

  <header id="main-header">
    <h1>Welcome to My Rails Blog!</h1>
  </header>
  <div class="container">
    

      <div class="title">
        <h2>My Rails Articles</h2>
      </div>

      <hr />
      <div class="add-article">
        <button class="btn btn-danger">
          <%= link_to "New Article" , new_article_path %>
        </button>
      </div>
      <table class="article">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
            <th scope="col">CreatedAt</th>
            <th scope="col">UpdatedAt</th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
            <tr>
              <th scope="row">
                <%= article.id %>
              </th>
              <td>
                <a href="/articles/<%= article.id %>">
                  <%= article.title %>
                </a>
              </td>
              <td>
                <%= article.body %>
              </td>
              <td>
                <%= article.created_at %>
              </td>
              <td>
                <%= article.updated_at %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>

    
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>

</html>